/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Share+Tech&family=Share+Tech+Mono&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #00ff99;
  --border-color: #3b3b3b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Share Tech', sans-serif;
  --font-mono: 'Share Tech Mono', monospace;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #e1e9dd;
    --accent-color: #1483eb;
    --border-color: #666666;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 1.25rem;
}
h1, h2, h3 {
  font-family: 'Orbitron', serif;
  font-weight: 400;
  color: var(--foreground);
}
h1 {
  font-size: 2.441rem;
  letter-spacing: 0.25rem;
}
h2 {
  font-size: 1.953rem;
}
h3 {
  font-size: 1.563rem;
}

button {
  font-size: 1.25rem;
  font-family: 'Share Tech', sans-serif;
  cursor: pointer;
  color: var(--foreground);
  border: 1px solid var(--foreground);
  padding: 0.64rem;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: var(--accent-color);
  color: var(--foreground);
}
button:focus {
  outline: 2px solid var(--accent-color);
}

input, textarea {
  font-family: var(--font-mono);
  background-color: var(--background);
  border: 2px solid var(--border-color);
  color: var(--foreground);
  padding: 0.64rem;
  border-radius: 8px;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
input:focus, textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

/* Dark Mode Specific Styling */
@media (prefers-color-scheme: dark) {
  input, textarea {
    background-color: #171717;
    border: 2px solid #444444;
  }

  button {
    border: 2px solid #ededed;
  }
}
